/* class modifications */
.aboutMe {
    
    text-align: center;
}
.bg {
    background-image: url(../images/dark-vintage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222629;
}
.btn-primary {
    border-color: #87c232;
    background-color: #87c232;
    color: #222629;
}
.btn-primary:hover {
    border-color: #618930;
    background-color: #618930;
    color: #474a4f;
}
.card {
    background-color: #474a4f;
    text-align: center;
    border-color: transparent;
    margin: 1vh;
    opacity: .75;
}
.card:hover {
    opacity: 1;
}
.card-title {
    color: #87c232;
}
.carousel-cell {
    width: 80%;
    
    margin-right: 10px;
    border-radius: 5px;
    background-color: #618930;
    opacity: .5;
}
.carousel-cell.is-selected {
    opacity: 1;
    background-color: #474a4f;
}
/* break points */
@media only screen and (min-width: 800px) {
    .carousel-cell {
        height: 600px;
    }
    .aboutMe {
        text-align: justify;
        text-indent: 50px;
    }
}
/* break points */
.close {
    color: #87c232;
}
.close:hover {
    color: #618930;
}
/* button spin */
.contactLogos {
    margin: 2vw;
    
}

.contactLogos {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.contactLogos:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
/* button spin */
.container {
    color: whitesmoke;
}
.flex-container {
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}
.flickity-button {
    background-image: url(../images/dark-vintage.jpg);
    opacity: .5;
}
.flickity-button:hover {
background-image: url(../images/dark-vintage.jpg);
opacity: 1;
}
.flickity-button-icon {
fill: #618930;
}
.flickity-page-dots {
    bottom: -3vh;
}
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid #618930;
}
.flickity-page-dots .dot.is-selected {
    background: #618930;
}
.modal-content {
    background-color: #6a6e71;
}
.modal-body {
    color: whitesmoke;
}
.modal-title {
    color: whitesmoke;
}
.symbols2 {
    height: 150px;
    width: 150px;
    margin: 1vw;
}
/* class modifications */

/* html tag modifications */
a {
    color: #87c232;
}
a:hover {
    color: #618930;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    text-align: center;
}
h1 {
    color: #87c232;
}
h2 {
    text-align: center;
}
/* html tag modifications */

